{% extends "layout.html" %}

{% block main %}
    <p class="about">Hi! This is a website made by Pranay Varada and Michael Moorman as our CS50 Final Project at Harvard College. To complete the implementation of this website, we used <a href="https://cesium.com/">Cesium</a>, an API for implementing a globe into one's website.</p>
    <p class="about">This is us after successfully completing this project:</p>
    <img style="width: 250px" src="static/michael.jpg">
    <img style="width: 350px" src="static/pranay.jpg">
{% endblock %}